<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <!-- You can use header.toLocaleUpperCase() to make the header is capitalized-->
            <h1>{{ header ? header: 'Welcome to Shopping List' }}</h1>
            <!-- Add new buttons to show the edit form -->
            <button 
                v-if="editing" 
                @click="doEdit(false)" 
                class="btn btn-cancel">
                Cancel
            </button>
            <button 
                v-else 
                @click="doEdit(true)" 
                class="btn btn-primary">
                Add Item
            </button>
        </div>

        <!-- Edit Form -->
        <div v-if="editing" class="add-item-form">
            <!-- Input for Data Binding and change the method in @keyup.enter-->
            <input 
                @keyup.enter="saveItem"
                type="text" 
                v-model,trim="newItem" 
                placeholder="Add an Item">
            <label for="newItemHighPriority">
                <input type="checkbox" v-model="newItemHighPriority">
                High Priority
            </label>
            <!-- Add v-bind:disabled or just using :disabled to bind HTML attribute-->
            <button 
                :disabled="newItem.length < 5"
                class="btn btn-primary" 
                @click="saveItem"> <!-- change to the method in @click -->
                Save Item
            </button>
        </div>

        <p v-if="items.length === 0">
            Nice job! You've bought all your items.
        </p>
        <!-- List Rendering in Vue.js 3 -->
        <!-- Dynamically rendering CSS classes -->
        <ul>
            <li 
                v-for="item in items" 
                :key="item.id"
                @click="togglePurchased(item)"
                class="static-class"
                :class="{strikeout: item.purchased, priority: item.highPriority}">
                {{ item.label }}
            </li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    editing: false,
                    newItem: '',
                    newItemHighPriority: false,
                    // Initialize items
                    items: [
                        // {id: 1, label: "10 party hats", purchased: false, highPriority: true},
                        // {id: 2, label: "2 board games", purchased: true, highPriority: true},
                        // {id: 3, label: "20 cups", purchased: false, highPriority: false}
                    ]
                }
            },
            methods: {
                // handling duplicated method of pushing the item
                // by add new method to push the item and clean the form after pushing
                saveItem() {
                    this.items.push(
                        {
                            id: this.items.length + 1, 
                            label: this.newItem, 
                            purchased: false,
                            highPriority: this.newItemHighPriority
                        }
                    )
                    this.newItem = ''
                    this.newItemHighPriority = false
                },
                // add new method to show edit form
                doEdit(editing) {
                    this.editing = editing
                    this.newItem = ''
                    this.newItemHighPriority = false
                },
                // update the css of the list
                togglePurchased(item) {
                    item.purchased = !item.purchased
                }
            }
        }).mount("#shopping-list")
    </script>
</body>
</html>