<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="shopping-list">
        <!-- You can use header.toLocaleUpperCase() to make the header is capitalized-->
        <h1>{{ header ? header: 'Welcome to Shopping List' }}</h1>

        <!-- Add Item Form -->
        <div class="add-item-form">
            <!-- Input for Data Binding-->
            <input 
                @keyup.enter="items.push({id: items.length + 1, label: newItem, priority: newItemPriority})"
                type="text" 
                v-model,trim="newItem" 
                placeholder="Add an Item">
            <label for="newItemPriority">
                <input type="checkbox" v-model="newItemPriority">
                High Priority
            </label>
            <button 
                class="btn btn-primary" 
                @click="items.push({id: items.length + 1, label: newItem, priority: newItemPriority})">
                Save Item
            </button>
        </div>

        <!-- List Rendering in Vue.js 3 -->
        <ul>
            <li v-for="item in items" :key="item.id">
                <input type="checkbox" v-model="item.priority">
                {{ item.label }}
            </li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    newItem: '',
                    newItemPriority: false,
                    // Initialize items
                    items: [
                        {id: 1, label: "10 party hats", priority: true},
                        {id: 2, label: "2 board games", priority: true},
                        {id: 3, label: "20 cups", priority: false}
                    ]
                }
            }
        }).mount("#shopping-list")
    </script>
</body>
</html>